In [1]:
import pandas as pd

In [2]:
wwc = pd.read_csv('wwc2019_q-f.csv')

In [3]:
print(wwc)

          Round       Winner  W Goals        Loser  L Goals
0      Quarters      England        3       Norway        0
1      Quarters          USA        2       France        1
2      Quarters  Netherlands        2        Italy        0
3      Quarters       Sweden        2      Germany        1
4         Semis          USA        2      England        1
5         Semis  Netherlands        1       Sweden        0
6     3rd Place       Sweden        2      England        1
7  Championship          USA        2  Netherlands        0

In [5]:
for i in wwc.index:
    print(i)

0
1
2
3
4
5
6
7

In [6]:
for c in wwc.columns:
    print(c)

Round
Winner
W Goals
Loser
L Goals

In [7]:
for v in wwc.values:
    print(v)

['Quarters' 'England' 3 'Norway' 0]
['Quarters' 'USA' 2 'France' 1]
['Quarters' 'Netherlands' 2 'Italy' 0]
['Quarters' 'Sweden' 2 'Germany' 1]
['Semis' 'USA' 2 'England' 1]
['Semis' 'Netherlands' 1 'Sweden' 0]
['3rd Place' 'Sweden' 2 'England' 1]
['Championship' 'USA' 2 'Netherlands' 0]

In [9]:
wwc.shape

(8, 5)

In [10]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [11]:
print(pd.DataFrame())

Empty DataFrame
Columns: []
Index: []

In [13]:
rounds = ['Semis', 'Semis', '3rd Place', 'Championship']
teams = ['USA', 'Netherlands', 'Sweden', 'USA']
df = pd.DataFrame({'Round':rounds, 'Winner':teams})
print(df)

          Round       Winner
0         Semis          USA
1         Semis  Netherlands
2     3rd Place       Sweden
3  Championship          USA

In [14]:
df['W Goals'] = [2, 1, 0, 0]

In [15]:
print(df)

          Round       Winner  W Goals
0         Semis          USA        2
1         Semis  Netherlands        1
2     3rd Place       Sweden        0
3  Championship          USA        0

In [16]:
print(df.drop('Winner', axis='columns'))

          Round  W Goals
0         Semis        2
1         Semis        1
2     3rd Place        0
3  Championship        0

In [17]:
print(df)

          Round       Winner  W Goals
0         Semis          USA        2
1         Semis  Netherlands        1
2     3rd Place       Sweden        0
3  Championship          USA        0

In [21]:
quarters_dict = {'Round':['Quarters']*4,
                'Winner':['England', 'USA', 'Neterlands', 'Sweden'],
                'W Goals':[3, 2, 2, 2]}
df = pd.concat([pd.DataFrame(quarters_dict), df], sort=False)
print(df)

          Round       Winner  W Goals
0      Quarters      England        3
1      Quarters          USA        2
2      Quarters   Neterlands        2
3      Quarters       Sweden        2
0      Quarters      England        3
1      Quarters          USA        2
2      Quarters   Neterlands        2
3      Quarters       Sweden        2
0      Quarters      England        3
1      Quarters          USA        2
2      Quarters   Neterlands        2
3      Quarters       Sweden        2
0      Quarters      England        3
1      Quarters          USA        2
2      Quarters   Neterlands        2
3      Quarters       Sweden        2
0         Semis          USA        2
1         Semis  Netherlands        1
2     3rd Place       Sweden        0
3  Championship          USA        0

In [22]:
quarters_dict = {'Round':['Quarters']*4,
                'Winner':['England', 'USA', 'Neterlands', 'Sweden'],
                'W Goals':[3, 2, 2, 2]}
df = pd.concat([pd.DataFrame(quarters_dict), df], sort=True)
print(df)

          Round  W Goals       Winner
0      Quarters        3      England
1      Quarters        2          USA
2      Quarters        2   Neterlands
3      Quarters        2       Sweden
0      Quarters        3      England
1      Quarters        2          USA
2      Quarters        2   Neterlands
3      Quarters        2       Sweden
0      Quarters        3      England
1      Quarters        2          USA
2      Quarters        2   Neterlands
3      Quarters        2       Sweden
0      Quarters        3      England
1      Quarters        2          USA
2      Quarters        2   Neterlands
3      Quarters        2       Sweden
0      Quarters        3      England
1      Quarters        2          USA
2      Quarters        2   Neterlands
3      Quarters        2       Sweden
0         Semis        2          USA
1         Semis        1  Netherlands
2     3rd Place        0       Sweden
3  Championship        0          USA

In [24]:
wwc['Winner']

0        England
1            USA
2    Netherlands
3         Sweden
4            USA
5    Netherlands
6         Sweden
7            USA
Name: Winner, dtype: object

In [25]:
wwc['Winner'][3]

'Sweden'

In [26]:
winners = ''
for w in wwc['Winner']:
    winners += w + ','
print(winners[:-1])

England,USA,Netherlands,Sweden,USA,Netherlands,Sweden,USA

In [28]:
'''
Finger exercise: Write a function that returns the sum of 
the goals scored by winners.
'''
def winners_score():
    total = 0
    for score in wwc['W Goals']:
        total += score
    return total
print(winners_score())

16

In [29]:
wwc[['Winner', 'Loser']]

        Winner        Loser
0      England       Norway
1          USA       France
2  Netherlands        Italy
3       Sweden      Germany
4          USA      England
5  Netherlands       Sweden
6       Sweden      England
7          USA  Netherlands

In [31]:
wwc[['Round', 'Winner', 'Loser', 'W Goals', 'L Goals']]

          Round       Winner        Loser  W Goals  L Goals
0      Quarters      England       Norway        3        0
1      Quarters          USA       France        2        1
2      Quarters  Netherlands        Italy        2        0
3      Quarters       Sweden      Germany        2        1
4         Semis          USA      England        2        1
5         Semis  Netherlands       Sweden        1        0
6     3rd Place       Sweden      England        2        1
7  Championship          USA  Netherlands        2        0

In [32]:
wwc[1]

KeyError: 1

In [33]:
wwc[1:2]

      Round Winner  W Goals   Loser  L Goals
1  Quarters    USA        2  France        1

In [35]:
wwc

          Round       Winner  W Goals        Loser  L Goals
0      Quarters      England        3       Norway        0
1      Quarters          USA        2       France        1
2      Quarters  Netherlands        2        Italy        0
3      Quarters       Sweden        2      Germany        1
4         Semis          USA        2      England        1
5         Semis  Netherlands        1       Sweden        0
6     3rd Place       Sweden        2      England        1
7  Championship          USA        2  Netherlands        0

In [36]:
wwc.loc[3]

Round      Quarters
Winner       Sweden
W Goals           2
Loser       Germany
L Goals           1
Name: 3, dtype: object

In [37]:
wwc.loc[[1, 3, 5]]

      Round       Winner  W Goals    Loser  L Goals
1  Quarters          USA        2   France        1
3  Quarters       Sweden        2  Germany        1
5     Semis  Netherlands        1   Sweden        0

In [38]:
wwc.loc[3:7:2]

          Round       Winner  W Goals        Loser  L Goals
3      Quarters       Sweden        2      Germany        1
5         Semis  Netherlands        1       Sweden        0
7  Championship          USA        2  Netherlands        0

In [39]:
wwc.loc[6:]

          Round  Winner  W Goals        Loser  L Goals
6     3rd Place  Sweden        2      England        1
7  Championship     USA        2  Netherlands        0

In [40]:
wwc.loc[:2]

      Round       Winner  W Goals   Loser  L Goals
0  Quarters      England        3  Norway        0
1  Quarters          USA        2  France        1
2  Quarters  Netherlands        2   Italy        0

In [43]:
'''Finger exercise: Write an expression that selects all 
even numbered rows in wwc.'''
wwc.loc[::2]

       Round       Winner  W Goals    Loser  L Goals
0   Quarters      England        3   Norway        0
2   Quarters  Netherlands        2    Italy        0
4      Semis          USA        2  England        1
6  3rd Place       Sweden        2  England        1

In [44]:
wwc.loc[0:2, 'Round':'L Goals':2]

      Round  W Goals  L Goals
0  Quarters        3        0
1  Quarters        2        1
2  Quarters        2        0

In [45]:
wwc

          Round       Winner  W Goals        Loser  L Goals
0      Quarters      England        3       Norway        0
1      Quarters          USA        2       France        1
2      Quarters  Netherlands        2        Italy        0
3      Quarters       Sweden        2      Germany        1
4         Semis          USA        2      England        1
5         Semis  Netherlands        1       Sweden        0
6     3rd Place       Sweden        2      England        1
7  Championship          USA        2  Netherlands        0

In [46]:
wwc.loc[1:2]

      Round       Winner  W Goals   Loser  L Goals
1  Quarters          USA        2  France        1
2  Quarters  Netherlands        2   Italy        0

In [51]:
wwc.loc[['Semis']]

KeyError: "None of [Index(['Semis'], dtype='object')] are in the [index]"